@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 0px 20px;
  background-color: #000;
  z-index: 99;
}

nav a, .nav-item {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fefefe;
  text-decoration: none;
}
nav a:hover, .nav-item:hover {
  color: #ff4545;
}

.container {
  width: 100%;
  max-width: 880px;
  padding: 0px 20px;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.brand img {
  padding-top: 5px;
  max-height: 65px;
}

.brand div h1, .text-header {
  font-size: 24px;
  font-weight:900;
  text-transform: uppercase;
}

.brand div p, .text-subheader {
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
}

.text-soft {
  color: #efefef;
}

.flex {
  display: flex;
}

.justify-content {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.shadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.shadow-big {
  box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.25);
}

.btn {
  background-color: #ff4545;
  border-radius: 5px;
  color: #fefefe;
  display: inline;
  padding: 5px 10px;
  font-size: 12px;
  text-decoration: none;
  border: none;
}

.btn-block {
  border-radius: 0px;
  padding: 10px 25px;
  text-transform: uppercase;
}

.btn-dark {
  background-color: #000;
  color: #fefefe;
  font-weight: 900;
  border: none;
  /* font-size: 16px; */
}

.btn-light {
  background-color: #fefefe;
  color: #000;
  font-weight: 900;
  /* font-size: 16px; */
}

.btn-light:hover {
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.25);
}

.banner {
  width: 100%;
  height: 700px;
  overflow-x: hidden;
  background-color: #000;
}

.text-light {
  color: #fefefe;
}

.d-block {
  display: block;
}

.btn span {
  color: #ff4545;
  font-weight: bolder;
  font-size: 18px;
}

.card {
  width: 250px;
  height: 250px;
  background-color: #fff;
  padding: 20px;
  margin: 15px;
}

.rounded {
  border-radius: 10px;
}

.rounded-tl {
  border-top-left-radius: 20px;
}

.rounded-br {
  border-bottom-right-radius: 20px;
}

.icon {
  text-align: center;
  width: 100%;
  height: 80px;
  padding-top: 10px;
}

.icon svg {
  height: 50px;
  width: 35px;
}

footer {
  padding: 100px 15px;
}

footer #first {
  order: 2;
}

footer #second {
  order: 3;
}

footer #third {
  order: 1;
}

.footer-content .footer-item {
  padding: 10px 0px;
}

.spacer {
  height: 100px;
}

@media screen and (max-width: 1024px) {

  .hide-mobile {
    display: none;
  }
  
  nav a, .nav-item {
    display: block;
    text-align: right;
    margin: 0px;
    margin-left: -35px;
    padding: 0px;
  }

  .banner .flex {
    position:absolute;
    margin-top: 250px;
  }

  .noflex {
    display: block;
  }

  .noflex .card {
    margin: 0px;
    margin-bottom: 15px;
  }

  .fullWidth {
    width: 100%;
  }

  .fixedWidth {
    width: 250px;
    height: 300px;
  }

  footer {
    display: block;
    margin: 0px;
    padding: 100px 0px;
  }

  footer .stack {
    width: 50%;
    display: inline-block;
  }

  footer .main {
    margin-top: 50px;
  }
}